$green: #97bf0d;
$text: #27363f;
$light-gray: #eeeeed;
$gray: #a3a4a4;
$dark-gray: #626262;
$icons: #3d3d3d;

// font-family: 'Inter', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Yellowtail', cursive;

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:any-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

.github svg,
.facebook svg,
.google svg,
.twitter svg,
.vimeo svg,
.pinterest svg {
  width: 16px;
  height: 16px;
  color: $icons;
}

.hamburguer svg {
  width: 50px;
  height: 30px;
  color: $icons;
}

.hamburguer {
  display: none;
}

.menu-link {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding: 0;
  margin-bottom: auto;
}

.hidden {
  overflow: hidden;
}

.nav-style {
  position: fixed;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  // padding: 0.3vw 1.5vw;
  width: 170px;
  border-right: 2px solid $light-gray;
  background: white;
  font-family: Red Hat Display, sans-serif;
}

.nav-link-style {
  color: $text;
  margin-left: 0.9rem;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}

.close-button {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  position: fixed;
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

.close svg {
  width: 20px;
  height: 20px;
  color: $icons;
}

.social-button {
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 0.5rem;
  // margin: 2rem 0;
  padding-inline-start: 0;
}

.icons::after {
  background-color: $gray;
}

.social-icons {
  display: inline-block;
  text-decoration: none;
  text-decoration-line: none;
  // position: relative;
  // padding-top: 10px;
  // margin-right: 1rem;
}

.footer-menu {
  margin-bottom: 1rem;
  color: $text;
  // font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
  // font-family: 'Roboto Condensed', sans-serif;

  p {
    font-size: 10px;
  }
}

// Featured style
.featured-container {
  margin-left: 170px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 50px;

  .featured-heading {
    align-self: center;
    text-align: center;
    font-family: 'Inter', sans-serif;

    h1 {
      font-weight: 700;
      font-size: 3rem;
    }

    p {
      color: $dark-gray;
      font-size: 1rem;
      margin-top: -20px;
    }

    padding-bottom: 30px;
  }

  .ft-card {
    background-color: rgba(185, 184, 184, 0.13);
    padding: 5px;
    margin: 30px 50px;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 5px #86868633;

    .img-container {
      width: 100%;
      height: 200px;

      .carousel-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .card-title {
      font-size: 1.2rem;
      font-weight: 500;
    }

    .line {
      margin: -10px 0;
    }

    .description-container {
      max-height: 60px;
      width: 100%;
      overflow: hidden;

      .card-description {
        text-align: center;
        height: 50px;
        overflow: hidden;
        text-overflow: '----';
        padding: 0 15px;
        color: $dark-gray;
      }
    }

    .card-icon {
      padding-top: 25px;
      padding-bottom: 5px;
    }
  }

  .react-multiple-carousel__arrow {
    min-width: 55px;
  }

  .react-multiple-carousel__arrow--left::before {
    left: 10px;
  }

  .react-multiple-carousel__arrow--right::before {
    right: 10px;
  }

  .react-multiple-carousel__arrow:hover {
    background: $green;
  }

  .react-multiple-carousel__arrow--right {
    border-radius: 0%;
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
    right: -0%;
  }

  .react-multiple-carousel__arrow--left {
    border-radius: 0%;
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
    left: 0%;
  }

  .ft-card:hover {
    cursor: pointer;
    box-shadow: 0 0 4px 4px #fff, 0 0 4px 4px $green;
  }
}

#logo {
  margin-bottom: 3rem;

  h1 {
    font-family: 'Yellowtail', cursive;
  }
}

.details-container {
  display: flex;
  // align-items: center;
  justify-content: center;
}

.hotel-images {
  margin: 2rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  width: 60%;

  .details-img {
    width: max-content;
  }
}

.return-btn {
  margin-bottom: 2rem;
  display: flex;
}

.title-container {
  padding-top: 5vh;
  margin: 0 2rem;
  h2 {
    margin-block-start: 0;
    margin-block-end: 0.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: right;
  }
}

.hotel-details {
  margin: 0 2rem;
  text-align: right;
}

.text-xl {
  font-size: 1em;
  margin-block-start: 0;
  margin-bottom: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.odd {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: $light-gray;
  color: $text;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .views {
    p {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
}

.even {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: $text;
  margin-bottom: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;

  h3 {
    font-size: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.button-details {
  padding: 0.5rem 1.25rem;
  background-color: $green;
  border: none;
  border-radius: 15px;
  color: white;
  letter-spacing: 0.02em;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
}

.button-details svg {
  vertical-align: middle;
  margin-left: 0.2rem;
  margin-right: 0.3rem;
}

.button-return {
  padding: 0.8rem 1.30rem;
  background-color: $green;
  border: none;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  color: white;
  letter-spacing: 0.02em;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  .error-message {
    font-family: 'Source Sans Pro', sans-serif;

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 769px) {
  .nav-style {
    ul {
      padding-inline-start: 0;
    }

    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    border: none;
    background: none;
    margin-top: 1.2rem;
    // justify-content: space-between;
    // align-items: center;
    // margin: 0;
    padding: 0;
    // background: rgba(33, 33, 33, 0.7);
    // font-family: Red Hat Display, sans-serif;
  }

  .hamburguer {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 100;
  }

  .menu-link {
    display: none;
  }

  .menu-item {
    // padding: 1rem 0;
    margin-left: 1rem;
    // border-bottom: 1px solid black;
    width: 95%;
  }

  .hidden {
    overflow: hidden;
  }

  #logo-img {
    margin-left: 1rem;
  }

  .nav-link-style {
    font-size: 2.5em;
    padding-inline-start: 0;
    padding: 1rem;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 4rem;
    left: 0;
    overflow-y: scroll;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    z-index: 10000;
    font-size: 10px;
    border-top: 2px solid $light-gray;
    transition: 0.6s;
  }

  .headline-icons {
    margin: 0;
    left: 0;
  }

  .icons {
    display: none;
  }

  .social-button {
    margin: 0;
    padding: 0;
  }

  .social-menu {
    display: none;
  }

  .footer-menu {
    display: none;
  }

  #logo,
  #logo-text {
    display: none;
  }
}
